@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  --spacing-page: 77.5rem;
}

@variant hocus {
  &:hover,
  &:focus-visible {
    @slot;
  }
}

@utility amount {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik-sans), sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
}
