@layer components {
  .section-wrapper {
    @apply px-clamp-x py-clamp-y relative;

    section {
      @apply max-w-page mx-auto;
    }
  }

  /* Hero section  */
  .section-wrapper:first-of-type {
    @apply pt-36 max-md:-mt-16 md:pt-60;
    color: var(--color-hero-foreground);
  }

  .amount {
    text-align: right;
    font-variant-numeric: tabular-nums;
  }

  .focus-ring {
    @apply border-ring ring-ring/50 ring-3;
  }

  .link {
    @apply text-primary dark:text-primary-light hocus:underline underline-offset-4 transition-colors;
  }

  .center-mobile {
    @apply text-center md:text-left;
  }
}
