@layer utilities {
  .slider-loading::-webkit-slider-thumb {
    opacity: 0;
    pointer-events: none;
  }

  .slider-loading::-moz-range-thumb {
    opacity: 0;
    pointer-events: none;
  }

  /* Background for hero sections */
  .hero-bg-div {
    background:
      repeating-linear-gradient(
        110deg,
        rgba(255, 255, 255, 0.03) 0px,
        rgba(255, 255, 255, 0.03) 1px,
        transparent 1px,
        transparent 20px
      ),
      radial-gradient(
        circle at calc(max(0px, (100vw - var(--spacing-page)) / 2)) 0,
        transparent,
        rgba(255, 255, 255, 0.03) calc(var(--spacing-page) * 0.15),
        rgba(255, 255, 255, 0.02) calc(var(--spacing-page) * 0.85),
        transparent calc(var(--spacing-page) * 1.1)
      ),
      linear-gradient(
        110deg,
        color-mix(in oklch, var(--color-hero) 20%, transparent) -20%,
        color-mix(in oklch, var(--color-hero) 90%, transparent)
          calc(50% - calc(var(--spacing-page) + 3rem) / 2),
        var(--color-hero) 50%,
        color-mix(in oklch, var(--color-hero) 90%, transparent)
          calc(50% + calc(var(--spacing-page) + 3rem) / 2),
        color-mix(in oklch, var(--color-hero) 20%, transparent) 120%
      );
    background-blend-mode: soft-light, soft-light, normal;
  }

  /* Deco line to separate hero icon container from text */
  @media (width >= theme("screens.md")) {
    .hero-icon-container::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background: linear-gradient(
        to bottom,
        transparent,
        var(--color-hero-foreground),
        transparent
      );
      opacity: 0.4;
    }
  }

  /* Section crossover blur */
  .section-wrapper:first-of-type {
    &::after {
      content: "";
      position: absolute;
      inset-inline: 0;
      z-index: 1;
      bottom: -1.5rem;
      height: 3rem;
      pointer-events: none;
      -webkit-backdrop-filter: blur(16px) saturate(1.5);
      backdrop-filter: blur(16px) saturate(1.5);
      -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  /* Quotation marks */
  .card--quote {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      font-family: Georgia, serif;
      font-size: 6rem;
      color: var(--color-brand-secondary-light);
      font-style: italic;
      font-weight: bold;
      opacity: 0.4;
      pointer-events: none;
    }

    &::before {
      content: "“";
      top: -3.3rem;
      left: 0.4rem;
    }

    &::after {
      content: "”";
      bottom: -6rem;
      right: 1.2rem;
    }

    @media (width >= theme("screens.md")) {
      &::before {
        top: -0.8rem;
        left: -2rem;
      }

      &::after {
        bottom: -3.8rem;
        right: -1rem;
      }
    }
  }
}
